@import '../../styles/colors';
@import '../../styles/variables';

.ProductsSection {
  .container {
    display: flex;
    justify-content: center;
  }

  .holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    max-width: 350px;
  }

  .image-holder {
    width: 232px;
    height: auto;
    margin-bottom: 0.7em;
  }

  .title-holder {
    width: 100%;
    display: flex;
  }

  .subtitle-holder {
    width: 100%;
  }

  .buttons-holder {
    width: 95%;
    display: flex;
    justify-content: space-between;

    .button {
      width: 45%;
    }
  }
}
