@import '../../styles/colors';
@import '../../styles/variables';

.ProductsSection {
  .container {
    display: flex;
    justify-content: center;
  }

  .holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    max-width: 350px;
  }

  .image-holder {
    width: 170px;
    margin-bottom: 0.7em;
  }

  .title-holder {
    width: 100%;
    display: flex;
  }

  .subtitle-holder {
    width: 100%;
  }

  .yellow-button {
    &__link {
      // display: flex;
      flex: row;
    }
  }
}
