@import '../../styles/colors';

.docs {
  &__columns {
    // column css is temp until sidebars are done
    display: flex;
    align-items: stretch;
  }
  &__column {
    // column css is temp until sidebars are done
    display: none;
    @media (min-width: 1024px) {
      display: block;
    }
  }
  &__header {
    background-image: linear-gradient(to right, #45a0d4 0%, #6ed0c2 100%);
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1024px) {
      flex-direction: column-reverse;
      padding: 0 10px;
    }
    &-title {
      display: flex;
      align-items: center;
      width: 100%;
      @media (max-width: 1024px) {
        justify-content: start;
        padding: 10px 0;
      }
      .icon {
        height: 32px !important;
        margin-right: 4px;
        @media (max-width: 1024px) {
          height: 24px !important;
          margin-right: 2px;
        }
      }
      h1 {
        color: $white;
        display: inline-block;
        font-size: 32px;
        font-weight: bold;
        line-height: 1;
        padding: 18px 0;
        @media (max-width: 1024px) {
          font-size: 24px;
        }
      }
    }
    &-search {
      flex: 1 0 400px;
      @media (max-width: 1024px) {
        flex-basis: auto;
        margin-top: 10px;
        width: 100%;
      }
      div {
        // placeholder for search bar
        display: block;
        border: 1px solid $grey-border;
        background: $white;
        color: $magenta;
        padding: 5px 10px;
        width: 100%;
      }
    }
  }
  &__main {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 10px 20px;
    &-container {
      max-width: 50em;
      padding: 0 48px;
    }
    &-title {
      margin: 48px 0 44px;
      font-size: 30px;
      line-height: 36px;
    }
    &-pagination {
      display: flex;
      justify-content: space-between;
      margin: 32px 0;
      .chevron-link {
        flex: 0 0 50%;
      }
      @media (min-width: 1024px) {
        margin: 64px 0;
      }
    }
  }
  &__md {
    // markdown stuff
    code {
      color: $magenta;
      background: $grey-blue;
      font-family: Lato;
      font-size: inherit;
      border-radius: 3px;
      padding: 0.15em 0.25em;
    }
    p {
      margin-bottom: 24px;
    }
    p,
    li {
      color: $blue-darker;
    }
    p,
    li,
    td,
    th {
      a {
        color: $blue-links;
        text-decoration: underline;
        &:hover,
        &:active {
          color: inherit;
        }
      }
    }
    table {
      border: 1px solid $grey-table-border;
      margin-bottom: 24px;
      td,
      th {
        font-size: 14px;
        line-height: 1.5;
        border: 1px solid $grey-table-border;
        padding: 4px 8px;
      }
      th {
        color: $blue-black;
      }
      td {
        color: $blue-darkest;
        border-top-width: 0;
        border-bottom-width: 0;
      }
      tr:nth-child(2n) {
        background: $grey-table-bg;
      }
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;
      .anchor {
        margin-left: -1.875rem !important;
        padding-right: 0.875rem !important;
        &.before {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateX(-100%);
        }
        img {
          visibility: hidden;
        }
      }
      &:hover .anchor img {
        visibility: visible;
      }
    }
  }
}
