@import "../../../styles/variables";

.Song {
  .storage-partners {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 4rem;

    @include breakpoint(mobile) {
      flex-direction: column;

      img {
        padding: 32px 0;
      }
    }
  }
}
