@import '../../styles/colors';

.Badge {
  align-self: flex-start;
  border-radius: 4px;
  border: none;
  color: $black;
  display: inline;
  font-size: 13px;
  font-weight: 600;
  padding: 0 14px;
  padding: 4px 8px;
  text-transform: uppercase;
  text-decoration: none;

  &.pink {
    background-color: $badge-bg-pink;
  }

  &.blue {
    background-color: $badge-bg-blue;
  }

  &.dark-blue {
    background-color: $badge-bg-navy;
    color: $white;
  }

  &.yellow {
    background-color: $badge-bg-yellow;
    border: none;
  }

  &.green {
    background-color: $badge-bg-teal-dark;
  }

  &.light-green {
    background-color: $badge-bg-teal;
  }

  &.red {
    background-color: $badge-bg-red;
  }
}
