@import '../../styles/colors';

.Badge {
  align-self: flex-start;
  border-radius: 4px;
  border: none;
  color: #000;
  display: inline;
  font-size: 13px;
  font-weight: 600;
  padding: 0 14px;
  padding: 4px 8px;
  text-transform: uppercase;
  text-decoration: none;

  &.pink {
    background-color: $pink;
  }

  &.blue {
    background-color: $blue-bg;
  }

  &.dark-blue {
    background-color: $blue-dark;
    color: $white;
  }

  &.yellow {
    background-color: $yellow-bg;
    border: none;
  }

  &.green {
    background-color: $green-bg-dark;
  }

  &.light-green {
    background-color: $green-bg;
  }

  &.red {
    background-color: $red-bg;
  }
}
