@import '../../styles/colors';
@import '../../styles/variables';

.GettingStartedPage {
  .container {
    padding: 50px 42px;
    @include breakpoint(desktop-up) {
      padding: 50px 60px;
    }
  }

  .upper-grey-section {
    @include breakpoint(tablet-up) {
      background-image: url('./assets/img_hexagon_top_left.svg'),
        url('./assets/img_hexagon_top_right.svg'), url('./assets/img_hexagon_bottom_left.svg');
      background-repeat: no-repeat;
      background-position-x: -45px, 130%, -130px;
      background-position-y: -50px, 180px, 500px;
      background-size: 280px, 380px, 400px;
    }

    @include breakpoint(desktop-up) {
      max-width: auto;
      background-position-x: -45px, 127%, -165px;
      background-position-y: -125px, -170px, 230px;
      background-size: 350px, 500px, 550px;
    }
    &__holder {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;
    }

    &__titles-holder {
      display: flex;
      flex-direction: column;
      gap: 2em;
      text-align: center;
      max-width: 330px;

      @include breakpoint(tablet-up) {
        margin-top: 2em;
        max-width: 680px;
      }

      @include breakpoint(desktop-up) {
        max-width: 840px;
      }
    }

    &__search-bar-holder {
      display: flex;
      justify-content: center;
      width: 350px;
      margin-bottom: 0.5em;

      @include breakpoint(tablet-up) {
        width: 640px;
      }

      @include breakpoint(desktop-up) {
        width: 760px;
      }
    }

    &__docs-holder {
      display: flex;
      flex-direction: column;
      gap: 3em;

      @include breakpoint(tablet-up) {
        margin-bottom: 2em;
      }
      @include breakpoint(desktop-up) {
        flex-direction: row;
        gap: 3.5em;
      }
    }

    &__doc-holder {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 350px;
    }

    &__doc-title {
      margin-bottom: 1.4em;
    }

    &__doc-columns-holder {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 9em;
      margin-right: 2.6em;

      @include breakpoint(tablet-up) {
        gap: 7em;
        margin-right: 0;
        margin-left: 4em;
      }
    }

    &__doc-column {
      list-style-type: disc;
      text-decoration: underline;
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    &__bullets-item {
      width: 20px;

      @include breakpoint(tablet-up) {
        width: 110px;
      }
    }
  }

  .mid-white-section {
    @include breakpoint(tablet-up) {
      overflow-x: hidden;
    }

    &__holder {
      margin: 1em auto;

      @include breakpoint(desktop-up) {
        display: flex;
      }
    }

    &__non-img-holder {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.8em;

      @include breakpoint(desktop-up) {
        align-items: flex-start;
        width: 50%;
        margin-right: -2em;
        max-width: 450px;
      }

      @include breakpoint(desktop-wide) {
        max-width: none;
        margin-right: 0.4em;
        margin-top: 0.6em;
      }
    }

    &__subtitle-holder {
      max-width: 350px;
      text-align: center;

      @include breakpoint(tablet-up) {
        max-width: none;
      }
      @include breakpoint(desktop-up) {
        text-align: left;
        margin-top: 1em;
      }
    }

    &__img-holder {
      background-image: url('./assets/img_circle_blue.png');
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center;
      display: flex;
      justify-content: center;
      padding: 28px;
      margin: 1em auto;
    }

    &__mobile-tablet-img-holder {
      @include breakpoint(tablet-up) {
        background-position: left;
        width: 200%;
        margin-right: -3em;
      }
      @include breakpoint(desktop-up) {
        display: none;
      }
    }

    &__desktop-img-holder {
      display: none;

      @include breakpoint(desktop-up) {
        display: flex;
        align-items: center;
        width: 64%;
        padding: 30px;
        margin-right: -5em;
        background-position: left;
      }

      @include breakpoint(desktop-wide) {
        padding: 68px;
        margin: -3.5em;
        background-position: left;
        margin-right: -5.5em;
      }
    }

    &__img {
      @include breakpoint(tablet-up) {
        position: relative;
        left: 130px;
        min-width: auto;
        max-width: 190%;
        max-height: 415px;
      }
      @include breakpoint(desktop-up) {
        left: 300px;
        max-width: 200%;
        max-height: 660px;
      }

      @include breakpoint(desktop-wide) {
        left: 360px;
        max-width: 220%;
        max-height: 710px;
      }
      @include breakpoint(desktop-ultra-wide) {
        left: 300px;
      }
    }

    &__content-holder {
      display: flex;
      flex-direction: column;

      @include breakpoint(tablet-up) {
        flex-direction: row;
      }
    }

    &__text-button-holder {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;

      @include breakpoint(tablet-up) {
        order: -1;
        align-items: flex-start;
        margin-top: 40px;
      }
      @include breakpoint(desktop-up) {
        gap: 2.6em;
      }
      @include breakpoint(desktop-wide) {
        gap: 3.4em;
      }
      @include breakpoint(desktop-ultra-wide) {
        gap: 3.6em;
      }
    }

    &__text-holder {
      width: 88%;
    }
  }

  .lower-grey-section {
    background-image: url('./assets/img_cloud1.svg'), url('./assets/img_cloud2.svg');
    background-repeat: no-repeat;
    background-position-x: -40px, 107%;
    background-position-y: 100px, 580px;

    @include breakpoint(tablet-up) {
      background-position-x: -40px, 107%;
      background-position-y: 100px, 380px;
    }

    @include breakpoint(desktop-up) {
      background-position-x: 20px, 103%;
      background-position-y: 30px, 220px;
    }

    &__holder {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3em;

      @include breakpoint(desktop-up) {
        flex-direction: row;
        margin-top: 1em;
        max-width: 100%;
      }
    }

    &__titles-holder {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.4em;
      text-align: center;
      max-width: 360px;

      @include breakpoint(tablet-up) {
        max-width: none;
      }
    }

    &__title {
      font-family: $font-sans-serif;
      font-weight: 900;
      color: $navy-black;
      letter-spacing: 0;
      font-size: 40px;
      line-height: 55px;

      @include breakpoint(tablet-up) {
        font-size: 48px;
        line-height: 70px;
      }

      @include breakpoint(desktop-up) {
        font-size: 36px;
        line-height: 48px;
      }
    }

    &__subtitle-mobile-tablet {
      @include breakpoint(desktop-up) {
        display: none;
      }
    }

    &__subtitle-desktop {
      display: none;
      @include breakpoint(desktop-up) {
        display: block;
      }
    }

    .yellow-button {
      @include breakpoint(desktop-up) {
        max-width: 290px;
      }
      &__img {
        width: 37%;
      }
      &__title {
        font-size: 20px;
      }
    }

    &__yellow-buttons-holder {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include breakpoint(tablet-up) {
        flex-direction: row;
      }
    }
  }

  .lower-blue-section {
    display: none;
    @include breakpoint(desktop-up) {
      display: block;
      padding: 1.6em;
    }

    &__text {
      display: flex;
      justify-content: center;
      gap: 1em;
    }
  }
}
