// The custom-button class wraps the entire button component.
// The nested classes are custom css to extend what bulma gives us / allows escape hatches

.custom-button {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  background: none;

  // This class is added like so:
  // <button type="secondary"
  .secondary {
    color: #9E005D !important;
  }

  .blue {
    background: #00A1D9;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
    color: white;
    border: none;
    &:hover {color: white;}
  }
}
