// The custom-button class applies to the entire button component.
// The additional classes are custom css to extend what bulma gives us / allows escape hatches
@import '../../styles/colors';

.custom-button {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  background: none;

  // This class is added like so:
  // <button type="secondary"
  &.secondary {
    color: $pink-darker !important;
  }

  &.blue {
    background: $blue;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    color: $white;
    border: none;
    &:hover {
      color: $white;
    }
  }
}
