.credits {
  &__text {
    font-size: 12px;
    line-height: 1;
    margin-right: 8px;
    margin-bottom: 6px;
  }
  &__link {
    line-height: 0;
  }
  &__wrapper {
    &.wide {
      display: flex;
      align-items: center;
      &.credits__text {
        margin-bottom: 0;
      }
    }
  }
}
