@import "../../styles/variables";

.MarketingSection {
  padding: 80px 0;

  @media(max-width: $tablet) {
    padding: 32px 0;
  }

  &.consulting {
    padding: 0;
    background-color: #eff0f3;

    @media(max-width: $tablet) {
      padding: 32px 0;
    }
  }
}
