@import '../../styles/colors';

.TermsConditionsPage {
  p,
  div,
  li {
    font-family: Lato;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
    color: $blue-darker;
  }

  p {
    margin: 20px 0;
  }
}
