@import '../../styles/colors';
@import '../../styles/variables';

.ServicesPage {
  .Hero {
    height: fit-content;

    @include breakpoint(tablet-up) {
      background-image: url('./assets/img_hero_services.svg');
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-position-y: 0;
      background-size: 460px;
      height: 430px;
    }

    @include breakpoint(desktop-up) {
      background-size: 600px;
    }

    @include breakpoint(desktop-wide) {
      background-position-x: 105%;
    }

    @include breakpoint(desktop-ultra-wide) {
      background-position-x: 81%;
    }

    &__section {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 0.8em;

      @include breakpoint(tablet-up) {
        align-items: start;
        text-align: left;
      }
    }

    .container {
      @include breakpoint(tablet-up) {
        display: flex;
        align-items: center;
      }
    }
  }

  .container {
    padding: 80px 32px;

    @include breakpoint(tablet-up) {
      padding: 4em 4.4em;
    }
  }
}
