.ServicesPage {

  p, li {
    font-family: Lato;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
    color: #003055
  }

  .services-top-hero {
    background-image: url("./hero_img.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 600px;
    background-position-y: 16px;
    display: flex;
    justify-content: center;
    @media(min-width: 1300px) {
      background-size: 50%
    }

    @media(max-width: 768px) {
      background-image: none;
    }

    @media(max-width: 1000px) {
      background-size: 50%;
    }
  }
  
  .consulting-hero {
    background-image: url("./consulting.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-position-x: 20%;
    height: 600px;
    padding: 48px 0;

  }
  
  .hero-subheader {
    font-family: Lato;
    font-size: 24px;
    color: #003055;
    letter-spacing: 0;
    line-height: 40px;
  }
  
  .bottom-hero {
    margin-top: 64px;
    padding: 64px 0 128px 0;
    background-image: url("./footer_img.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 400px;
  }

  .bottom-header {
    font-family: "Lato";
    font-size: 40px;
    color: #003055;
    letter-spacing: 0;
    line-height: 68px;
  }
}


