@import '../../styles/colors';
@import '../../styles/variables';

.ProductHero {
  .hero-gradient {
    background-image: url('./images/bg_blue_curved2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .HeroCard {
    background: $white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }

  .hero-title-box {
    padding: 64px 0;
    @include breakpoint(desktop-below) {
      padding-top: 0px;
    }
  }

  .hero-title-and-tag {
    justify-content: center;
    display: flex;

    .Badge {
      margin: 30px 0 0 10px;
    }

    @media (max-width: 700px) {
      display: block;
      margin-bottom: 24px;
      .Badge {
        margin: 0;
      }
    }
  }
  .card-img-box {
    justify-content: center;
    display: flex;
    background-color: $grey-2;
    height: 280px;
    border-top-right-radius: 5px;

    @media (max-width: 1139px) {
      height: auto;
    }
  }

  .card-content {
    padding: 1.5rem 3.5rem;

    @include breakpoint(desktop-below) {
      padding: 1.5rem 1.5rem;
    }
  }

  .card-text {
    font-family: $font-sans-serif;
    font-size: 24px;
    color: $navy-black;
    letter-spacing: 0;
    line-height: 40px;
    text-align: left;
    padding-bottom: 24px;

    @include breakpoint(desktop-below) {
      font-size: 20px;
      line-height: 32px;
    }
  }

  .card-img {
    //   margin-top: -70px;

    @media (max-width: 1139px) {
      margin-top: 0;
      transform: scale(1);
      height: auto;
    }
    transform: scale(1.3);
  }

  .title {
    margin: 28px 0;
    font-family: $font-sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: $white;
    letter-spacing: 0;
    line-height: 70px;

    @include breakpoint(desktop-below) {
      font-size: 45px;
    }
  }

  .subtitle {
    max-width: 690px;
    margin: 0 auto;
    font-family: $font-sans-serif;
    font-size: 30px;
    color: $white;
    letter-spacing: 0;
    text-align: center;
    line-height: 45px;

    @include breakpoint(desktop-below) {
      font-size: 26px;
      line-height: 36px;
    }
  }

  // Unforutnate logo specific stylings...
  .logoJukebox {
    transform: scale(1);
  }
}
