@import '../../../styles/variables';
@import '../../../styles/colors';

.MegaMenu {
  display: flex;
  height: auto;
  width: auto;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  transition: top ease 0.5s 0s;
  z-index: 4;

  // Shrinking the slack button changes nav size; update popover top.
  @media (max-width: 1260px) and (min-width: 1160px) {
    top: 50px;
  }

  @include breakpoint(navmenu-below) {
    top: 0;
  }

  &.open {
    top: 60px;
    @media (max-width: 1260px) and (min-width: 1160px) {
      top: 50px;
    }

    @include breakpoint(navmenu-below) {
      top: 0;
      display: block;
    }
  }

  &.closed {
    top: -240px;
    @include breakpoint(navmenu-below) {
      top: 0;
      display: none;
    }
  }

  .menu-items {
    border: 1px solid $grey-3;
    display: flex;
    justify-content: flex-start;
    background: $white !important;
    width: 100%;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.08);

    @include breakpoint(desktop-up) {
      gap: 20px;
    }
  }

  // for leveling heading menu headers that don't have "core" badge
  .core-placeholder {
    font-size: 0.8rem;
    padding: 4px 0;
  }

  // custom styles to override / build on top of bulma's nav link
  .menu-section-left {
    display: flex;
    padding: 16px 24px 0 24px;
    flex-direction: column;
    max-width: 810px;

    @include breakpoint(navmenu-up) {
      padding-bottom: 16px;
    }
  }

  .menu-section-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 16px;

    @include breakpoint(desktop-up) {
      min-width: 392px;
      padding: 16px 10px 0 10px;
    }
    @include breakpoint(desktop-wide) {
      min-width: 400px;
    }
    @include breakpoint(desktop-ultra-wide) {
      padding-bottom: 36px;
    }
  }

  .dark-blue-section {
    max-width: 700px;

    @include breakpoint(navmenu-up) {
      max-height: 70px;
      max-width: 400px;
    }
  }

  .yellow-green-section {
    max-width: 500px;

    @include breakpoint(navmenu-up) {
      max-height: 70px;
    }
  }

  .menu-section-links {
    list-style: disc;
    padding-right: 4px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    column-gap: 110px;
    row-gap: 10px;
    margin-left: 62px;

    li {
      display: inline list-item;
    }

    @include breakpoint(tablet-up) {
      margin-left: 88px;
    }

    @include breakpoint(navmenu-up) {
      color: $navy-black;
      padding-left: 1.5rem;
      flex-direction: column;
      margin-left: 0;
      justify-content: space-between;
      column-gap: 2px;
      row-gap: 5px;
    }
  }

  .menu-section-link {
    color: $navy-black;
    display: flex;
    font-size: 1rem;
    text-decoration: none;
    width: 140px;
    &:hover,
    &.active {
      color: $pink-darker;
    }
  }

  @include breakpoint(navmenu-up) {
    .Badge {
      display: block;
      text-align: center;
    }
  }

  // explore heading and text; desktop only
  .explore-text {
    min-width: 345px;

    .heading-text {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 8px;

      @include breakpoint(navmenu-below) {
        display: none;
      }
    }

    .body-text {
      @include breakpoint(navmenu-below) {
        display: none;
      }
      @include breakpoint(desktop-wide) {
        max-width: 360px;
      }
    }

    .documentation-link {
      padding-top: 6px;
      margin-left: 20px;
      a {
        text-decoration: none;
        color: $title-pink;
        // color: $navy-black;
      }

      .red-arrow {
        margin-left: 5px;
      }

      @include breakpoint(tablet-up) {
        margin-left: 44px;
      }
      @include breakpoint(navmenu-up) {
        margin-left: 0;
      }
    }
  }
}

// 2) MegaMenu Mobile Styles - resets all the desktop styles and then customizes.

@include breakpoint(navmenu-below) {
  .MegaMenu {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    border: 0;

    .Badge {
      width: 100%;
      text-align: center;
    }

    .menu-items {
      padding: 0px 0 24px 0;
      border: 0;
      flex-direction: column;
      background: $grey-2;
    }

    .menu-section {
      padding: 20px 12px 4px;
      justify-content: center;
      border-bottom: 1px solid #cfcfcf;
    }

    .core-text {
      order: 2;
      padding-left: 16px;
    }

    // displays section heading and "core" text.
    .menu-section-heading {
      display: flex;
      flex-direction: row;
      width: 100%;

      .Icons {
        order: 1;
        margin-left: 12px;
      }
    }

    .core-links {
      max-height: none;
      flex-wrap: wrap;
    }
  }
}
