@import '../../../styles/variables';
@import '../../../styles/colors';

.MegaMenu {
  border-bottom: 3px solid $grey-border;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.08);
  display: flex;
  height: auto;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  transition: top ease 0.5s 0s;
  width: 100%;
  z-index: 4;

  // Shrinking the slack button changes nav size; update popover top.
  @media (max-width: 1260px) and (min-width: 1160px) {
    top: 50px;
  }

  @include breakpoint(navmenu-below) {
    top: 0;
  }

  &.open {
    top: 60px;
    @media (max-width: 1260px) and (min-width: 1160px) {
      top: 50px;
    }

    @include breakpoint(navmenu-below) {
      top: 0;
      display: block;
    }
  }

  &.closed {
    top: -240px;
    @include breakpoint(navmenu-below) {
      top: 0;
      display: none;
    }
  }

  .menu-items {
    border: 1px solid $grey-3;
    display: flex;
    width: 100%;
    background: $white;
  }

  // for leveling heading menu headers that don't have "core" badge
  .core-placeholder {
    font-size: 0.8rem;
    padding: 4px 0;
  }

  // custom styles to override / build on top of bulma's nav link
  .menu-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 16px 24px;
    flex: 1;
  }

  .menu-section-heading {
    display: flex;
    flex-direction: column;
  }

  .menu-section-links {
    display: flex;
    flex-direction: column;
  }

  .menu-section-link {
    color: $blue-dark;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 1rem;
    &:hover {
      color: $magenta;
    }
  }

  // explore our products heading and text; desktop only
  .explore-text {
    min-width: 345px;
    background: $grey;

    .heading-text {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 8px;

      @include breakpoint(navmenu-below) {
        display: none;
      }
    }

    .body-text {
      @include breakpoint(navmenu-below) {
        display: none;
      }
    }

    .chevron-link {
      padding-top: 12px;
      a {
        color: $magenta !important;
      }
      font-weight: 700;

      @include breakpoint(navmenu-below) {
        padding: 0 0 12px 0;
        color: $blue-dark !important;
        img {
          display: none;
        }
        a {
          color: $blue-dark !important;
        }
      }
    }
  }
}

// 2) Products Popup Mobile Styles - resets all the desktop styles and then customizes.

@include breakpoint(navmenu-below) {
  .MegaMenu {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    min-width: auto;
    border: 0;

    .Badge {
      min-width: 130px;
      text-align: center;
    }

    .menu-items {
      padding: 0px 0 24px 0;
      border: 0;
      flex-direction: column;
      background: $grey;
    }

    .menu-section {
      // flex-direction: row;
      padding: 20px 12px;
      justify-content: center;
      border-bottom: 1px solid #cfcfcf;
    }

    .core-text {
      order: 2;
      padding-left: 16px;
    }

    // displays section heading and "core" text.
    .menu-section-heading {
      display: flex;
      flex-direction: row;

      .Icons {
        order: 1;
        margin-left: 12px;
      }
    }

    .menu-section-links {
      padding: 24px 0 0 0;
      flex-direction: row;
    }

    .core-links {
      max-height: none;
      flex-wrap: wrap;
    }

    .menu-section-link {
      padding-top: 0;
      padding: 0 0 12px 0;
      // flex: 1;

      &:not(:first-child) {
        margin-left: 48px;
      }
    }
  }
}
