@import '../../styles/colors';

.prism-code {
  border-radius: 8px;
  span.number {
    // undo bulma styles
    padding: 0;
    background: none;
    font-size: inherit;
    height: auto;
    margin: 0;
    min-width: auto;
  }
  &__wrapper {
    div {
      margin-bottom: 0 !important;
    }
    &.with-copy {
      padding-top: 32px;
      position: relative;
      background: rgb(1, 22, 39);
      border-radius: 8px;
    }
  }
  &__copy-btn,
  &__lang {
    position: absolute;
    top: 0;
  }
  &__copy {
    &-tooltip {
      background: $tooltip-bg;
      border-radius: 2px;
      color: $white !important;
      font-size: 12px;
      font-weight: bold;
      padding: 4px 8px;
      position: absolute;
      right: -3px;
      top: -30px;
      visibility: hidden;
      opacity: 0;
      transition: 0.25s opacity;
      &.is-copied {
        visibility: visible;
        right: -8px;
        opacity: 1;
      }
      &:after {
        position: absolute;
        content: '';
        display: block;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: $tooltip-bg transparent transparent transparent;
      }
    }
    &-btn {
      right: 0;
      background: transparent;
      border: 0 none;
      padding: 10px 8px;
      img {
        opacity: 0.6;
        transition: 0.25s all;
      }
      &:hover,
      &:active,
      &:focus {
        cursor: pointer;
        img {
          opacity: 1;
        }
        .prism-code__copy-tooltip {
          // display: block;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  &__lang {
    color: $white !important;
    font-family: Lato;
    font-size: 12px !important;
    letter-spacing: 1px;
    left: 0;
    padding: 12px;
    text-transform: uppercase;
    line-height: 1;
    opacity: 0.8;
    // font-weight: 300;
  }
}
