.Terminal {
  background: #F2F3F5;
  padding: 20px 2px 2px;
  margin-bottom: 16px;
}

.Terminal-inner {
  background-color: #282A35;
  border-radius: 6px;
  padding: 24px;
  margin: 8px;
}

.Terminal-text {
  color: #82EE86;
}

