@import "../../../styles/variables";

.ProductsPopup {
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  top: 60px;
  height: auto;
  transition: opacity ease 0.2s 0.1s;
  margin: 0 auto;

  // Shrinking the slack button changes nav size; update popover top.
  @media (max-width: 1260px) and (min-width: 1160px) {
    top: 50px;
  }

  @include breakpoint(navmenu-below) {
    top: 0;
  }

  &.open {
    visibility: visible;
    opacity: 1;
  }

  &.closed {
    visibility: hidden;
    opacity: 0;
    @include breakpoint(navmenu-below) {
      opacity: 1;
      display: none;
    }
  }

  .menu-items {
    border: 1px solid #dfdfdf;
    display: flex;
    width: 100%;
    background: white;
  }

  // for leveling heading menu headers that don't have "core" badge
  .core-placeholder {
    font-size: 0.8rem;
    padding: 4px 0;
  }

  // custom styles to override / build on top of bulma's nav link
  .menu-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 16px 24px;
    flex: 1;
  }

  .menu-section-heading {
    display: flex;
    flex-direction: column;
  }

  .menu-section-links {
    display: flex;
    flex-direction: column;

  }

  .menu-section-link {
    padding-top: 1rem;
    font-weight: bold;
    display: flex;
    font-size: 1rem;
    color: #04518c;
  }

  // explore our products heading and text; desktop only
  .explore-text {
    min-width: 344px;
    background: #f2f3f5;

    .heading-text {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 8px;
    }

    @include breakpoint(navmenu-below) {
      display: none;
    }
  }
}

// 2) Products Popup Mobile Styles - resets all the desktop styles and then customizes.

@include breakpoint(navmenu-below) {
  .ProductsPopup {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    min-width: auto;
    border: 0;

    .Badge {
      min-width: 130px;
      text-align: center;
    }

    .menu-items {
      padding: 24px 0;
      border: 0;
      flex-direction: column;
      background: #f2f3f5;
    }

    .menu-section {
      // flex-direction: row;
      padding: 4px 16px;
      justify-content: center;
    }

    .core-text {
      order: 2;
      padding-left: 16px;
    }

    // displays section heading and "core" text.
    .menu-section-heading {
      display: flex;
      flex-direction: row;

			.Icons {
				order: 1;
				margin-left: 12px;
			}
    }

    .menu-section-links {
      padding: 24px 0 0 0;
      flex-direction: column;
    }

    .core-links {
      max-height: none;
      flex-wrap: wrap;
    }

    .menu-section-link {
      padding-top: 0;
      padding: 0 0 12px 0;
    }
  }
}
