@import "../../../styles/variables";

.ProductsPopup {
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  margin-top: 60px;

  .menu-items {
    border: 1px solid #dfdfdf;
    width: 100%;
    background: #f2f3f5;
  }

  // custom styles to override / build on top of bulma's nav link
  .menu-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px;
    flex: 1;
  }

  .menu-section-links {
    display: flex;
    flex-direction: column;
  }

  .menu-section-link {
    padding-top: 1rem;
    font-weight: bold;
    display: flex;
    font-size: 1rem;
    color: #04518c;
  }

  // explore our products heading and text; desktop only
  .explore-text {
    min-width: 340px;

    .heading-text {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 8px;
    }

    .body-text {
    }

    @include breakpoint(desktop-below) {
      display: none;
    }
  }
}

// 2) Products Popup Mobile Styles - resets all the desktop styles and then customizes.

@include breakpoint(desktop-below) {
  .ProductsPopup {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    min-width: auto;
    border: 0;

    .Badge {
      min-width: 130px;
      text-align: center;
    }

    .menu-items {
      padding: 24px 0;
      border: 0;
      flex-direction: column;
      background: #f2f3f5;
    }

    .menu-section {
      flex-direction: row;
      padding: 4px 16px;
      justify-content: flex-start;
    }

    .menu-section-links {
      padding: 0 24px;
      flex-direction: column;
    }

    .core-links {
      max-height: none;
      flex-wrap: wrap;
    }

    .menu-section-link {
      padding-top: 0;
      padding: 0 0 24px 0;
    }
  }
}
