.BottomCallout { 
  
  .Callout {
    max-width: 400px;
    font-family: Lato-Regular;
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 36px;
    padding: 32px 0;
    
  }

}
