@import "../../styles/variables";

.BottomCallout {

  background-color: #04518c;
  padding: 24px 0;
  color: white;
  display: flex;


    .callout-container {
      display: flex;
      @media (max-width: $tablet) {
        flex-direction: column;
      }
    }

  @media(max-width: $tablet) {
    flex-direction: column;
  }


  .Callout {
    max-width: 500px;
    margin: 0 auto;
    padding: 12px;
    font-family: Lato;
    font-size: 22px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 36px;


    &:only-child {
      text-align: center;
      max-width: 768px;
    }

    @media (max-width: $tablet) {
      max-width: 400px;
      text-align: center;
      margin: 0 24px;
      font-size: 16px;

      &:last-child {
        padding-top: 48px;
      }
    }
  }
}
