$blue-2: #00a1d9;
$blue-3: #4f85ae;
$blue-bg: #6ac3e8;
$blue-black: #151c3d;
$blue-dark: #04518c;
$blue-darker: #003055;
$blue-darkest: #282a35;
$blue-light: #66c2ea;
$blue-nav: #004773;
$blue: #00a2d9;
$blue-links: #109ed9;
$green-bg-dark: #5db9ae;
$green-bg: #00ddbe;
$green-link: #47d9bf;
$green-terminal: #82ee86;
$green-text: #3dd3b1;
$grey-1: #f1f3f5;
$grey-2: #efefef;
$grey-3: #dfdfdf;
$grey-4: #d4d4d4;
$grey-5: #eff0f3;
$grey-6: #d8d8d8;
$grey-bg-hover: #f2f5f8;
$grey-border: #aeafb3;
$grey-blue: #e5edf3;
$grey-table-border: #dcdde1;
$grey-table-bg: #f2f5f8;
$grey-text: #555;
$grey: #f2f3f5;
$magenta: #9e005d;
$pink-bg: #c66fa5;
$pink: #d087b4;
$red-bg: #c86370;
$white: #ffffff;
$yellow-bg: #ecc000;
$yellow: #f2d03a;
$yellow-light-bg: #fcf3c7;
$yellow-light-border: #f2d021;
