// raw color values
// use only in _colors.css

$c-white: #fff;
$c-black: #000;
$c-blue-green-gradient: linear-gradient(to right, #4bc6f0 0%, #99f1e5 100%);
$c-green-bright: #82ee86;

$c-blue-100: #edf9fd;
$c-blue-200: #d2f1fb;
$c-blue-300: #aee5f8;
$c-blue-400: #66cef2;
$c-blue-500: #4bc6f0;
$c-blue-600: #109ed9;
$c-blue-700: #0b75a2;

$c-green-100: #fbfbeb;
$c-green-200: #f5f7ce;
$c-green-300: #f0f2b0;
$c-green-400: #e4e775;
$c-green-500: #d9de3a;
$c-green-600: #cfd509;

$c-grey-100: #f2f5f8;
$c-grey-200: #f2f3f5;
$c-grey-300: #dfdfe1;
$c-grey-400: #aeafb3;
$c-grey-500: #5e6068;
$c-grey-600: #282a35;

$c-navy-100: #e5edf3;
$c-navy-200: #c0d3e2;
$c-navy-300: #9bb9d1;
$c-navy-400: #4f85ae;
$c-navy-500: #04518c;
$c-navy-600: #003055;

$c-pink-100: #f7ecf3;
$c-pink-200: #edd2e1;
$c-pink-300: #e2b7d0;
$c-pink-400: #c772a3;
$c-pink-500: #b74a89;
$c-pink-600: #9e005d;

$c-red-100: #f9eff0;
$c-red-200: #f1d8db;
$c-red-300: #e9c1c6;
$c-red-400: #d07a85;
$c-red-500: #c86370;
$c-red-600: #ad404e;

$c-teal-100: #e5fbf8;
$c-teal-200: #ccf8f2;
$c-teal-300: #99f1e5;
$c-teal-400: #40e6cf;
$c-teal-500: #00ddbe;
$c-teal-600: #00c4a7;
$c-teal-700: #00a88f;

$c-yellow-100: #fdfae8;
$c-yellow-200: #fcf3c7;
$c-yellow-300: #faeca6;
$c-yellow-400: #f5de63;
$c-yellow-500: #f2d021;
$c-yellow-600: #e6c104;
$c-yellow-700: #af9204;
