$blue-dark: #04518c;
$blue-darker: #003055;
$blue-light: #66c2ea;
$blue: #00a2d9;
$green-bg: #00ddbe;
$green-text: #3dd3b1;
$green-link: #47d9bf;
$grey-1: #f1f3f5;
$grey-2: #efefef;
$grey-3: #dfdfdf;
$grey-4: #d4d4d4;
$grey-5: #eff0f3;
$grey: #f2f3f5;
$magenta: #9e005d;
$pink: #d087b4;
$white: #ffffff;
$yellow: #f2d03a;
