// Common styles that don't belong to a component (yet)

.yellow-bar {
  max-width: 80px;
  height: 4px;
  min-width: 48px;
  background-color: #f2d03a;
}

.bullet {
  font-family: Lato-Regular, "Arial";
  color: #003055;
  letter-spacing: 0;
  // line-height: 30px;
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 4px;
}
