// Default styles across site.
@import '../styles/colors';
body {
  font-family: 'Lato', 'Arial';
}

nav {
  border-bottom: lightgray solid 0.1vmin;
}

p,
div {
  color: $blue-darker;
}

strong {
  color: $blue-darker !important;
}

hr {
  background-color: $grey-hr !important;
  height: 1px !important;
}
