// Custom utility classes for when basscss doesn't do the trick.
@import './colors';
@import './variables';

// Backgrounds
.bg-grey {
  background: $grey-2;
}

.bg-grey-light {
  background: $grey-2;
}

.bg-blue {
  background: $navy-dark;
}

.bg-green {
  background: $green-bg;
}

// Typography

.text-white {
  color: $white;
}

.text-green {
  color: $green-text;
}

.text-magenta {
  color: $pink-darker;
}

.link-magenta {
  font-family: $font-sans-serif;
  font-weight: 700;
  color: $pink-darker;
  letter-spacing: 0;

  a,
  a:hover {
    color: $pink-darker;
  }
}

.pointer {
  cursor: pointer;
}

.flip-horizontal {
  transform: scaleX(-1);
}

.chevron-link,
.chevron-link a {
  color: $pink-darker;
  font-weight: bold;
  text-decoration: none;
}
