// Custom utility classes for when basscss doesn't do the trick.
@import './colors';

// Backgrounds
.bg-grey {
  background: $grey-5;
}

.bg-grey-light {
  background: $grey;
}

.bg-blue {
  background: $blue-dark;
}

.bg-green {
  background: $green-bg;
}

// Typography

.text-white {
  color: $white;
}

.text-green {
  color: $green-text;
}

.text-magenta {
  color: $magenta;
}

.link-magenta {
  font-family: Lato;
  font-weight: 700;
  color: $magenta;
  letter-spacing: 0;

  a,
  a:hover {
    color: $magenta;
  }
}

.pointer {
  cursor: pointer;
}
