@import "./util";
@import "./defaults";
@import "./common";
@import "./variables";
@import "../../node_modules/bulma/sass/utilities/initial-variables";

// BULMA VARIABLE OVERRIDES! --------------------

$primary-invert: white;
$navbar-item-hover-color: #9e005d;
$navbar-item-color: #004773;
$navbar-item-hover-background-color: #f2f3f5;
$navbar-breakpoint: 1160px;
$link: #00a2d9;
$family-serif: "Lato", "Arial";
$family-primary: $family-serif;

@import "../../node_modules/bulma/bulma.sass";

// patch bulma's `.container` class; nicer padding across the site.
.container {
  padding: 0 32px;
}

.has-navbar-fixed-top {
  padding-top: 3.75rem !important;

  @media (max-width: 1260px) {
    padding-top: 3.25rem !important;
  }
}

// Override react modal --------------------
.ReactModal__Overlay {
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7);
}

.__modal_close_btn {
  position: fixed;
  right: 12px;
  top: 0px;
  padding: 12px 24px;
  font-size: 64px;
  background: none;
  border: none;
  color: white;
  z-index: 2;
  cursor: pointer;
  outline: none;
}
