@import '../../styles/colors';
@import '../../styles/variables';

.ContactPage {
  p,
  div,
  li {
    font-family: $font-sans-serif;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
    color: $blue-darker;
  }

  .contact-hero-content {
    display: flex;
    flex: 1;
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    // align image and contact us text >768 < 1024
    @media (min-width: 768px) and (max-width: 1024px) {
      transform: translateY(150px);
    }
  }

  .hero-header-text {
    align-self: center;
  }

  .contact-hero {
    height: 600px;
    @include breakpoint(mobile) {
      display: flex;
      justify-content: center;
      height: 150px;
    }
  }

  .contact-details {
    font-family: $font-sans-serif;
    font-size: 24px;
    color: $blue-darker;
    letter-spacing: 0;
    line-height: 40px;
  }

  .contact-hero-img {
    transform: scale(1) translateY(120px);
    @media (min-width: 768px) and (max-width: 1024px) {
      transform: scale(0.6);
    }

    @media (min-width: 1025px) and (max-width: 1216px) {
      transform: translateY(130px);
    }
  }
}
