@import '../../styles/colors';
@import '../../styles/variables';

.t-h1 {
  // for hero headers
  font-family: $font-sans-serif;
  font-weight: 900;
  color: $navy-black;
  letter-spacing: 0;
  font-size: 40px;
  line-height: 55px;

  @include breakpoint(tablet-up) {
    font-size: 48px;
    line-height: 70px;
  }

  @include breakpoint(desktop-up) {
    font-size: 50px;
    line-height: 70px;
  }
}

.t-h2 {
  font-family: $font-sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: $navy-black;
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;

  @include breakpoint(tablet-up) {
    font-size: 32px;
    line-height: 40px;
  }

  @include breakpoint(desktop-up) {
    font-size: 36px;
    line-height: 40px;
  }
}

.t-h3 {
  font-family: $font-sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: $navy-black;
  letter-spacing: 0;
  line-height: 40px;

  @include breakpoint(mobile) {
    font-size: 20px;
    line-height: 30px;
  }
}

.t-p1 {
  font-family: $font-sans-serif;
  font-weight: 400;
  color: $navy-black;
  letter-spacing: 0;
  font-size: 18px;
  line-height: 28px;

  @include breakpoint(tablet-up) {
    font-size: 20px;
    line-height: 30px;
  }
  @include breakpoint(desktop-up) {
    font-size: 24px;
    line-height: 40px;
  }
}

.t-p2 {
  font-family: $font-sans-serif;
  color: $navy-black;
  letter-spacing: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;

  @include breakpoint(tablet-up) {
    font-size: 20px;
    line-height: 34px;
  }
}

.t-l1 {
  padding-left: 0;
  font-family: $font-sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $navy-black;
  letter-spacing: 0;
  line-height: 30px;
  list-style-type: disc;
  margin-left: 1.2em;

  @include breakpoint(tablet-up) {
    font-size: 20px;
    line-height: 34px;
  }
}
