@import "../../styles/variables";

.t-h1 { // for hero headers
  font-family: Lato, "Arial";
  font-weight: 700;
  font-size: 50px;
  color: #003055;
  letter-spacing: 0;
  line-height: 70px;
  
  @include breakpoint(mobile) {
    font-size: 30px;
    line-height: 40px;
  }
}

.t-h2 {
  font-family: Lato, "Arial";
  font-size: 30px;
  color: #004773;
  letter-spacing: 0;
  line-height: 37px;

  @include breakpoint(mobile) {
    font-size: 24px;
    line-height: 40px;
  }

}


.t-h4 {
  font-family: Lato, "Arial";
  font-size: 24px;
  color: #003055;
  letter-spacing: 0;
  line-height: 40px;

  @include breakpoint(mobile) {
    font-size: 20px;
    line-height: 30px;
  }
}
