@import '../../styles/colors';
@import '../../styles/variables';

.HomePage {
  font-size: 18px;
  line-height: 32px;

  @include breakpoint(mobile) {
    font-size: 16px;
    line-height: 30px;
  }

  .hero-buttons {
    display: flex;
    align-items: center;
    align-self: flex-start;
    @include breakpoint(mobile) {
      flex-direction: column;
    }
  }

  .science-hero {
    height: 600px;
    padding: 3rem 1.5rem;
    @media (max-width: 900px) {
      height: auto;
      padding: 1.5rem 1.5rem 0;
    }
  }

  .home-img {
    transform: scale(0.9);
  }

  .hero-header-text {
    margin-top: -128px;

    @media (max-width: 1200px) {
      margin-top: 0px;
    }
  }

  .bioinformatics-bundle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 128px 0 64px 0;
    @include breakpoint(wide-down) {
      padding-top: 64px;
    }
    @include breakpoint(mobile) {
      padding: 64px 32px;
      text-align: left;
      align-items: flex-start;
    }
  }

  .explore-solutions-box {
    display: flex;
    align-items: center;

    @include breakpoint(desktop-below) {
      flex-direction: column;
    }

    @include breakpoint(mobile) {
      display: flex;
    }
  }

  .badges {
    display: flex;
    flex-direction: row;
    @include breakpoint(mobile) {
      display: flex;
      width: 100%;
      flex-direction: column;
      padding-top: 16px;
      align-items: center;
    }
  }

  .explore-solutions-header {
    font-size: 28px;
    display: flex;
    flex: auto;
    padding-right: 32px;
    text-align: center;
    @include breakpoint(mobile) {
      text-align: left;
      font-size: 22px;
      width: 100%;
    }
  }

  .hero-subheader {
    font-family: $font-sans-serif;
    font-size: 24px;
    color: $blue-darker;
    letter-spacing: 0;
    line-height: 40px;
  }

  .bottom-hero {
    margin-top: 32px;
    padding: 8px 0 128px 0;
    background-image: url('./assets/footer_img.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 400px;

    @include breakpoint(desktop-below) {
      padding: 0px 0 128px 0;
      background-position-x: 200px;
    }
  }

  .bottom-header {
    font-family: 'Lato';
    font-size: 40px;
    color: $blue-darker;
    letter-spacing: 0;
    line-height: 68px;
    padding-right: 48px;

    @include breakpoint(mobile) {
      font-size: 26px;
      line-height: 36px;
    }
  }
}

.BundleCard {
  background: $white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

  .card-header {
    background: linear-gradient(-90deg, $green-link 2%, $blue-2 100%);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: $white;
    display: flex;
    font-family: $font-sans-serif;
    font-weight: 700;
    font-size: 26px;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0;
    padding: 8px 24px;
  }

  .card-body {
    font-family: $font-sans-serif;
    font-size: 18px;
    color: $blue-darker;
    letter-spacing: 0;
    line-height: 30px;
    padding: 24px;
  }
}
