@import '../../styles/colors';
@import '../../styles/variables';

.HomePage {
  .Hero {
    background-color: $blue-top;
    margin: 0 auto;

    @include breakpoint(tablet-up) {
      background-image: url('./assets/home_hero_img.svg');
      background-repeat: no-repeat;
      background-position: right;
      height: fit-content;
      padding: 2rem 0;
    }
    @include breakpoint(desktop-wide) {
      background-position-x: 90%;
    }
    @include breakpoint(desktop-ultra-wide) {
      background-position-x: 75%;
    }

    &__section {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 18px;

      @include breakpoint(tablet-up) {
        align-items: start;
        max-width: 50%;
        text-align: left;
        padding-left: 25px;
      }

      @include breakpoint(desktop-up) {
        max-width: 700px;
        padding: 50px;
      }

      @include breakpoint(desktop-wide) {
        max-width: none;
        background-position: center;
      }
    }

    &__large-button {
      height: fit-content;
      font-size: 40px;
      font-weight: 900;
      padding: 0.5rem 1rem;
    }

    &__small-buttons-container {
      display: flex;
      gap: 16px;
      font-weight: 700;
      @include breakpoint(tablet-up) {
        margin-top: 5px;
      }
    }
  }

  .upper-white {
    &__title-text {
      text-align: center;
      max-width: 30em;
      margin: 20px auto;

      @include breakpoint(tablet-up) {
        max-width: 50em;
        padding: 0 30px;
      }
    }

    &__content {
      padding: 0 10px;
      margin: 0 auto;
      max-width: 1600px; // at smaller sizes, this element bleeds off the screen

      @include breakpoint(desktop-up) {
        display: flex;
        align-items: center;
      }
      @include breakpoint(desktop-ultra-wide) {
        max-width: 1350px;
      }
    }

    &__image-column {
      @include breakpoint(desktop-up) {
        width: 625px;
      }
      @include breakpoint(desktop-wide) {
        width: 770px;
      }
      @include breakpoint(desktop-ultra-wide) {
        width: 66.667%;
      }
    }

    &__image {
      width: 400px;
      max-width: 80%;
      margin: 0 auto 20px;
      display: block;

      @include breakpoint(tablet-up) {
        width: 820px;
      }
      @include breakpoint(desktop-up) {
        margin-left: -160px;
        max-width: 780px;
      }
      @include breakpoint(desktop-wide) {
        margin-left: -170px;
        max-width: 970px;
      }
      @include breakpoint(desktop-ultra-wide) {
        margin-left: 0px;
        max-width: 100%;
      }
    }

    &__text-column {
      margin-top: 40px;

      @include breakpoint(tablet-up) {
      }

      @include breakpoint(desktop-up) {
        flex: 1; // remainder leftover from image column
      }
    }

    &__text-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 55px;

      @include breakpoint(tablet-up) {
        flex-flow: row wrap;
        justify-content: center;
      }
      @include breakpoint(desktop-up) {
        margin: 0 auto;
      }
    }
  }

  .upper-grey {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__text {
      font-family: $font-sans-serif;
      font-weight: 900;
      font-size: 20px;
      line-height: 36px;
      color: $navy-black;
      text-align: center;

      @include breakpoint(tablet-up) {
        font-size: 32px;
        line-height: 64px;
      }

      @include breakpoint(desktop-up) {
        font-size: 40px;
        line-height: 70px;
      }
    }

    &__mobile {
      padding: 0 1em;

      @include breakpoint(tablet-up) {
        display: none;
      }
    }

    &__not-mobile {
      display: none;
      padding: 0 1.6em;
      max-width: 1147px;
      @include breakpoint(tablet-up) {
        display: block;
      }

      @include breakpoint(desktop-up) {
        padding: 0 2.5em;
      }
    }

    &__line {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;

      @include breakpoint(tablet-up) {
      }
    }

    &__icon {
      display: none;
      @include breakpoint(tablet-up) {
        display: block;
      }
    }
  }

  .maroon-cube {
    display: none;

    @include breakpoint(tablet-up) {
      display: block;
      position: relative;
      // left: 140px;
      left: -45px;
      bottom: 140px;
      margin-bottom: -200px;
    }
    @include breakpoint(desktop-up) {
      left: 140px;
    }
  }

  .lower-white {
    // max-width: 300px;
    // overflow-x: hidden;
    &__title-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: 900;
    }

    &__title {
      font-weight: 900;
      margin-bottom: 20px;
      margin-top: 30px;
    }

    &__logos {
      display: flex;
      gap: 15px;
      justify-content: center;
      background-color: none;
      overflow-x: auto;
    }

    &__logo {
      filter: brightness(1.1);
      &:hover {
        cursor: pointer;
        transform: scale(1.15);
      }
    }

    &__logo-container-active {
      border-bottom: 2px solid;
    }

    &__blue-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      border-radius: 20px;
      padding: 40px 30px;
      margin: 50px auto;
      background-color: $blue-block;
      max-width: 1147px;
      height: 378px;
    }

    &__blue-container-content {
      display: flex;
    }

    &__blue-container-image {
      width: 50%;
      height: auto;
      margin-right: 70px;
    }

    &__blue-container-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;
      justify-content: center;
    }

    &__blue-container-title {
      margin-left: -15px;
    }

    &__blue-container-list {
      list-style-type: disc;
    }

    &__blue-container-button {
      background-color: $blue-block;
      border: none;
    }

    &__yellow-buttons {
      margin-top: 80px;
      gap: 40px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }

  .teal-blue-cube {
    position: relative;
    float: right;
    bottom: 260px;
    margin-bottom: -200px;
  }

  .chartreuse-cube {
    position: relative;
    float: right;
    left: 80px;
    bottom: 85px;
    margin-bottom: -200px;
  }

  .lower-grey {
    padding-top: 6rem;
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__text {
      line-height: 53px;
    }

    &__buttons {
      display: flex;
      gap: 30px;
    }
  }

  .bright-teal-cube {
    position: relative;
    // vertical-align: bottom;
    left: 80px;
    bottom: 185px;
    margin-bottom: -250px;
    z-index: 1;
  }
}
