@import '../../styles/colors';
@import '../../styles/variables';

.ProductsPage {
  .grey {
    background-color: $grey-2;
  }

  .Hero {
    height: fit-content;

    @include breakpoint(tablet-up) {
      background-image: url('./assets/img_hero_products.svg');
      background-repeat: no-repeat;
      background-position-x: 82px;
      background-position-y: 92px;
      // background-position: bottom;
      background-size: 860px;
      height: 470px;
    }

    @include breakpoint(desktop-up) {
      background-position-y: 0px;
      background-size: 1070px;
    }

    @include breakpoint(desktop-wide) {
      background-position-x: 105%;
    }

    @include breakpoint(desktop-ultra-wide) {
      background-position-x: 81%;
    }

    &__section {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 0.8em;

      @include breakpoint(tablet-up) {
        align-items: start;
        text-align: left;
      }
    }

    &__subtitle {
      max-width: 330px;
      @include breakpoint(tablet-up) {
        max-width: 440px;
      }
      @include breakpoint(desktop-up) {
        max-width: 570px;
      }
    }
  }

  .container {
    padding: 80px 32px;

    @include breakpoint(tablet-up) {
      padding: 4.5em 3.8em;
    }
  }
}
