.ProductFeature {
  display: flex;
  flex-direction: column;
  
  .icon {
    width: 64px;
    height: 64px;
    margin: 24px 0;
  }
  
  .header {
    font-size: 28px;
    font-weight: 700;
    padding-top: 12px;
  }
  
  .details {
    font-size: 16px;
    padding: 16px 0;
    font-weight: 700;
  }


}
