@import '../../styles/colors';

.warning-box {
  background: $warning-bg;
  border-left: 6px solid $warning-border;
  color: $warning-text;
  padding: 20px 18px;
  margin-bottom: 24px;
  *:last-child {
    margin-bottom: 0;
  }
}
