@import '../../styles/colors';

.warning-box {
  background: $yellow-light-bg;
  border-left: 6px solid $yellow-light-border;
  color: $blue-black;
  padding: 20px 18px;
  margin-bottom: 24px;
  *:last-child {
    margin-bottom: 0;
  }
  a {
    color: $blue-links-yellow-bg !important;
    &:hover,
    &:active,
    &:focus {
      color: inherit !important;
    }
  }
}
