// Icon component styles
.Icon {
}

// Icon grouping styles.
.Icons {
  .core {
    color: $blue-2;
    text-transform: uppercase;
    font-weight: 700;
    padding: 4px 0;
    font-size: 14px;
  }
}
