@import '../../styles/colors';
// Icon component styles
.Icon {
}

// Icon grouping styles.
.Icons {
  .core {
    color: $c-text-blue;
    font-size: 14px;
    font-weight: 700;
    padding: 4px 0;
    text-transform: uppercase;
  }
}
