@import '../../styles/colors';
@import '../../styles/variables';

.AcknowlegementsPage {
  .grey {
    background-color: $grey-2;
  }

  .Hero {
    @include breakpoint(tablet-up) {
      background-image: url('./assets/img_acknowledgements.svg');
      background-repeat: no-repeat;
      background-position-x: 580px;
      background-size: 550px;
    }

    @include breakpoint(desktop-up) {
      background-position-x: 620px;
      background-size: 570px;
    }

    @include breakpoint(desktop-wide) {
      background-position-x: 105%;
    }

    @include breakpoint(desktop-ultra-wide) {
      background-position-x: 81%;
    }

    &__section {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 0.8em;

      @include breakpoint(tablet-up) {
        align-items: start;
        text-align: left;
      }
    }

    &__subtitle {
      max-width: 330px;
      @include breakpoint(tablet-up) {
        max-width: 440px;
      }
      @include breakpoint(desktop-up) {
        max-width: 570px;
      }
    }
  }

  .container {
    padding: 80px 32px;

    @include breakpoint(tablet-up) {
      padding: 4.5em 3.8em;
    }
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5em;
  }

  .detail-holder {
    display: flex;
    gap: 2.5em;
    flex-direction: column;

    @include breakpoint(desktop-up) {
      flex-direction: row;
      gap: 6.5em;
    }
  }

  .detail {
    display: flex;
    flex-direction: column;
    gap: 0.8em;

    @include breakpoint(desktop-up) {
      width: 50%;
    }
  }
}
