@import '../../styles/colors';

.test-toc {
  padding-left: 15px;
  li {
    padding-left: 15px;
  }
  .link-active {
    color: magenta;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
  }
  .menu-active {
    color: green;
    font-style: italic;
    font-family: courier;
    font-size: 24px;
  }
  button {
    cursor: pointer;
  }
}

.toc-section {
  margin-bottom: 24px;
  list-style-type: none;
  button {
    border: 0 none;
    cursor: pointer;
    text-align: left;
    width: 100%;
  }
  // all levels
  li {
    a,
    button {
      background: transparent;
      border-left: 3px solid transparent;
      color: $blue-black;
      display: block;
      font-size: 16px;
      font-weight: bold;
      &:hover,
      &.active {
        background: $white;
      }
      &.active {
        border-left-color: $magenta-border;
        color: $magenta;
      }
    }
    span {
      position: relative;
      .Icon {
        position: absolute;
        left: -10px;
        top: 7px;
      }
    }
  }
  // first level
  > ol > li {
    border-bottom: 1px solid $grey-table-border;
    > a,
    > button {
      line-height: 18px;
      padding: 12px 0 12px 24px;
    }
    // lower levels
    ol li {
      a,
      button {
        font-size: 14px;
        line-height: 16px;
        padding: 10px 0 10px 32px;
      }
      span .Icon {
        top: 6px;
      }
    }
    // third level
    > ol > li > ol > li {
      > a,
      > button {
        padding-left: 48px;
      }
    }
  }
}
