@import '../../styles/colors';

.test-toc {
  margin-bottom: 24px;
  ol {
    list-style-type: none;
    padding-left: 0;
  }
  button {
    // reset
    background: transparent;
    border: 0 none;
    cursor: pointer;
    text-align: left;
    width: 100%;
    font-size: inherit;
    padding: 0;
  }
  .link-active {
    color: $magenta;
  }
  .menu-active {
    background: $white;
    border-left: 3px solid $magenta-border;
    .menu-active {
      border: none;
      &__heading {
        border: none;
      }
    }
    &__heading {
      background: $white;
      border-left: 3px solid $magenta-border;
      color: $magenta;
    }
    a,
    button {
      &:hover {
        background: $grey-bg-hover-2;
      }
    }
  }
  // all levels
  li {
    a,
    button {
      background: transparent;
      color: $blue-black;
      display: block;
      font-size: 16px;
      font-weight: bold;
      &:hover,
      &.active {
        background: $white;
      }
      &.link-active {
        color: $magenta;
      }
    }
    span {
      position: relative;
      .Icon {
        position: absolute;
        left: -12px;
        top: 7px;
      }
    }
  }
  // first level
  > ol > li {
    border-bottom: 1px solid $grey-table-border;
    > a,
    > button {
      border-left: 3px solid transparent;
      line-height: 18px;
      padding: 12px 0 12px 24px;
      &.link-active {
        background: $white;
        border-color: $magenta-border;
      }
    }
    // lower levels
    ol li {
      a,
      button {
        font-size: 14px;
        line-height: 16px;
        padding: 10px 0 10px 32px;
      }
      span .Icon {
        top: 6px;
      }
    }
    // third level
    > ol > li > ol > li {
      > a,
      > button {
        padding-left: 48px;
      }
    }
  }
}
