.section-wrapper {
  border: 3px solid #0000ff;
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1600px;
  @media screen and (min-width: 1216px) {
    display: flex;
    align-items: center;
  }
}

.image-column {
  border: 3px solid goldenrod;
  @media screen and (min-width: 1216px) {
    width: 800px;
  }
}

.overture-image {
  @media screen and (min-width: 1216px) and (max-width: 1600px) {
    display: block;
    margin-left: -170px;
    max-width: 970px;
  }
}

.text-column {
  border: 3px solid orange;
  @media screen and (min-width: 1216px) {
    flex: 1;
  }
}

.text-wrapper {
  border: 3px solid green;
  @media screen and (min-width: 800px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1216px) {
    display: block;
    max-width: 350px;
    margin: 0 auto;
  }
}

.text-item {
  // max-width: 20em;
  text-align: center;
  margin: 0 auto 20px;
  @media screen and (min-width: 800px) {
    flex: 0 0 50%;
  }
}
