@import '../../styles/colors';
@import '../../styles/variables';

.GridFeature {
  .bottom-border {
    border-bottom: 2px solid;

    &.white {
      border-color: $white;
    }

    &.grey {
      border-color: $grey-3;
    }

    @media (max-width: $tablet) {
      border-bottom: none;
    }
  }

  .feature-item {
    padding: 56px 24px 64px 0px;
    @media (max-width: $tablet) {
      padding: 32px 0px;
    }
  }

  .right-item {
    border-left: 2px solid $white;
    padding-left: 48px;
    @media (max-width: $tablet) {
      border-left: none;
      padding-left: 0px;
    }

    @media (min-width: $tablet) and (max-width: 1100px) {
      padding-left: 32px;
    }
  }
}
