@import "../../styles/variables";

.GridFeature {

	.white-border-bottom {
		border-bottom: 2px solid white;
		@media(max-width: $tablet) {
			border-bottom: none;
		}
	}

	.feature-item {
		padding: 64px 24px;
		@media(max-width: $tablet) {
			padding: 32px 24px;
		}
	}

	.white-border-left {
		border-left: 2px solid white;
		padding-left: 48px;
		@media(max-width: $tablet) {
			border-left: none;
			padding-left: 24px;
		}
	}
}
