@import "../../styles/variables";

.OurVisionPage {
  p {
    font-size: 18px;
  }

  .vision-hero-box {
    height: 500px;
    
    @include breakpoint(mobile) {
      height: auto;
      padding: 16px;
    }
  }

  .vision-hero-img {
    transform: scale(0.9) translateY(40px);
    // padding: 16px 0;
    // background-position: bottom;
    // background-image: url("./hero_img.svg");
    // background-size: contain;
    // background-repeat: no-repeat;
    
  }
  
}
