@import "../../styles/variables";

.OurVisionPage {

  p {
    font-size: 18px;
    line-height: 30px;
  }

  .vision-hero-box {
    height: 600px;

    @include breakpoint(mobile) {
      height: auto;
      padding: 16px;
    }
  }

  .our-vision-section {
    padding: 96px 0;

    @media(max-width: $tablet) {
      padding: 48px 0;
    }
  }

  .vision-hero-img {
    @media(min-width: 1024px) {
      transform: scale(0.9) translateY(90px);
    }
  }
}
