@import '../../styles/colors';
@import '../../styles/variables';

.Footer {
  border-top: 1px solid $grey-3;
  position: relative;
  background: $white;
  color: $navy-dark;

  .footer-white {
    padding: 38px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include breakpoint(tablet-up) {
      flex-direction: row;
      justify-content: center;
      gap: 40px;
      padding-left: 2.5em;
    }

    &__oicr-logo {
      width: 138px;
      height: auto;
    }

    &__links-holder {
      max-height: 180px;
      min-width: 300px;
      @include breakpoint(tablet-up) {
        min-width: 550px;
      }
      @include breakpoint(desktop-up) {
        min-width: 660px;
      }
    }
  }

  .links-container {
    display: flex;
    flex-flow: column wrap;
    max-height: 180px;
    gap: 1em;
    margin: 2em 0;

    @include breakpoint(tablet-up) {
      max-height: 120px;
    }

    @include breakpoint(desktop-up) {
      max-height: 90px;
      gap: 0.7em;
    }

    &__link {
      display: flex;
      justify-content: flex-start;
      text-decoration: none;
      color: $navy-dark;
      font-weight: 700;
      width: 180px;
      &:hover {
        color: $pink-darker;
      }

      @include breakpoint(desktop-up) {
        width: 170px;
        margin: 5px 0;
      }
    }
  }

  .netlify-badge-mobile {
    @include breakpoint(tablet-up) {
      display: none;
    }
  }

  .netlify-badge-tablet {
    display: none;
    @include breakpoint(tablet-up) {
      display: block;
    }
    @include breakpoint(desktop-up) {
      display: none;
    }
  }

  .netlify-badge-desktop {
    display: none;
    @include breakpoint(desktop-up) {
      display: block;
    }
  }

  .footer-grey {
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 14px;

    @include breakpoint(desktop-up) {
      align-items: center;
      justify-content: center;
    }

    &__top-container-mobile {
      display: flex;
      justify-content: space-between;
      padding: 1em;
    }

    &__text {
      font-size: 16px;
      font-weight: 400;

      span {
        padding: 0 8px;
      }

      @include breakpoint(tablet-up) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
      }
    }
  }
}
