.Footer {
  border-top: 1px solid #D4D4D4;
  
  .footer-box {
  padding: 48px 0;
    display: flex;
    @media(max-width: 768px) {
      flex-direction: column;
    }
  }
  
  .copyright {
    font-weight: 100;
  }

  .oicr-logo {
    width: 140px;
    margin-right: 64px;
    order: 1;
    align-self: center;
    
    @media(max-width: 768px) {
      margin: 64px;
    padding-right: 0px;
      order: 2;
    }
  }
  
  .footer-links {
    order: 2;

    @media(max-width: 768px) {
      order: 1;
    }
  }
  
  .link-group-header {
    color: #47D9BF;
    font-weight: 700;
  }
  
  .link {
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    color: #003055;
    letter-spacing: 0;
    line-height: 30px;
  }
  
}
