.search {
  &__root {
    position: relative;
    margin: 0.6em 0;
    max-width: 475px;
    width: 100%;
  }
  &__box {
    width: 100%;
    max-width: 475px;
    position: relative;
    &-input {
      border-radius: 5px;
      border: 1px solid #babcc2;
      color: #003055;
      font-size: 16px;
      height: 50px;
      padding: 0 42px;
      width: 100%;
      &:focus {
        border: 1px solid #4bc6f0;
        box-shadow: 0 0 4px 1px rgba(155, 199, 237, 0.8);
        outline: none;
      }
    }
    &-icon {
      position: absolute;
      top: 15px;
      left: 16px;
      width: 20px;
    }
  }
  &__input {
    width: 100%;
    max-width: 475px;
    position: relative;
    &-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
    }
  }
  &__results {
    &.closed {
      display: none;
    }
    &.open {
      display: block;
    }
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 5px 0;
    margin-top: 0.5em;
    max-height: 80vh;
    max-width: 30em;
    overflow: scroll;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 100%;
    width: 80vw;
    z-index: 2;
    .HitCount {
      display: flex;
      justify-content: flex-end;
    }
    .Hits {
      ul {
        list-style: none;
        margin-left: 0;
      }
      li.ais-Hits-item {
        margin-bottom: 1em;
        a {
          h4 {
            margin-bottom: 0.2em;
          }
        }
      }
    }
  }
}

.ais-PoweredBy {
  display: flex;
  justify-content: flex-end;
  font-size: 80%;
  svg {
    width: 70px;
  }
}
