@import '../../styles/colors';

.toc-headings {
  border-left: 3px solid $magenta-border;
  list-style-type: none;
  margin-bottom: 24px;
  max-height: calc(100vh - 132px);
  // nav height 60px, footer height 275px, padding 48px + 24px
  overflow: auto;
  position: sticky;
  top: 108px; // nav height 60px + padding 48px
  // all levels
  &__list {
    list-style-type: none;
    li {
      a {
        background: transparent;
        color: $blue-black;
        display: block;
        font-size: 14px;
        font-weight: bold;
        padding: 7px 0 7px;
        line-height: 18px;
        &:hover {
          background: $grey-bg-hover-light;
        }
        &.active {
          color: $magenta;
          background: $pink-light-bg;
        }
      }
    }
  }
  // first level
  > ol {
    > li {
      > a {
        font-weight: bold;
        padding-left: 16px;
      }
      // lower levels
      ol {
        li a {
          font-weight: normal;
          padding-left: 40px;
          span {
            position: relative;
            &:before {
              content: '•';
              position: absolute;
              left: -14px;
              top: 0;
            }
          }
        }
      }
      // third level
      li li {
        a {
          padding-left: 56px;
        }
        li {
          a {
            padding-left: 72px;
          }
          li {
            a {
              padding-left: 88px;
            }
          }
        }
      }
    }
  }
}
