.GettingStarted {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  
  .header-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 32px 0;
  }

  .center {
    flex: 1;
    text-align: center;
  }
  
  .header-offset {
    display: inline-block;
    position:relative;
    transform:translateX(35%); // haaaaaacky
  }
  
  .pinned-link {
    font-family: Lato-Bold;
    font-size: 20px;
    color: #9E005D;
    letter-spacing: 0;
    padding-right: 16px;
  }
  
  .bullet {
    list-style-type: disc;
    color: #003055; // VARIABLE plz
    padding-bottom: 4px;
  }


}


  
