@import '../../styles/colors';

.window-wrapper {
  background: $grey-2;
  padding: 4px;
  border-radius: 4px;
}

.outer-wrapper {
  border: 2px solid $white;
  border-radius: 4px;
}

.Traffic-Lights {
  margin-left: 12px;
  padding: 4px 0;
  display: flex;

  .circle {
    width: 10px;
    height: 10px;
    background-color: #d8d8d8;
    margin-right: 8px;
  }
}
