// Globals
p, div
  color: #003055
  
  
// Bgs

.bg-grey
  background: #EFF0F3

.bg-blue
  background: #04518C

  
// Typography
  
.text-white
  color: #FFFFFF
  
.text-green
  color: #3DD3B1

  

// Page specific / half component / whatever stuff 
// should be better organized at some point
  
.yellow-bar 
  max-width: 80px
  height: 4px
  background-color: #F2D03A
  
.GettingStarted
  text-align: left
