@import '../../styles/colors';
@import '../../styles/variables';

.PrivacyPage {
  p,
  div,
  li {
    font-family: $font-sans-serif;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
    color: $navy-black;
  }

  p {
    margin: 20px 0;
  }

  /** YUCK BELOW: **/

  ol > li {
    font-size: 30px;
  }

  ol > li > p {
    margin-left: 48px;
  }

  ol {
    list-style-type: none;
    margin-left: 0;
  }

  ol > li {
    counter-increment: customlistcounter;
  }

  ol > li:before {
    /* the only way to remove "." from an OL ?! */
    content: counter(customlistcounter) ' ';
    font-weight: bold;
    float: left;
    width: 1em;
  }

  ol:first-child {
    counter-reset: customlistcounter;
  }
}
