$bg-color: #f2f3f5;
$cs-break: 1000px;

// -- Styles for the parent component : index.js -------------------------------
.CaseStudiesPage {
  .case-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 265px;
    background-color: $bg-color;
    
    &.nav-fixed {
      height: 340px;
    }
  }

  .case-heading {
    margin-bottom: 32px;
  }

  .case-hero-content {
    max-width: 900px;
    text-align: center;
    padding: 24px;
  }
}

// -- Component: case-study.js styles ------------------------------------------
.Case-Study {
  margin-top: 64px;
  @media(max-width: $cs-break) {
    margin-top: 16px;
  }

  .top-segment {
    margin-bottom: 64px;
    padding: 32px;
  }

  .title {
    margin-bottom: 24px;
  }

  .client-list-item {
    list-style-type: disc;
    margin-left: 24px;
  }

  .client-logo {
    padding: 8px;
    margin-bottom: 16px;
    max-width: 240px;
  }
  .bg-curve {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 96px;
    @media(max-width: $cs-break) {
      padding: 32px;
    }
  }

  /* Contains all details of the case study - broken into left and right sections.*/
  /* This is the section where you can click through different screenshots of the study.*/
  .details {
    display: flex;
    align-items: center;
    @media(max-width: $cs-break) {
      flex-direction: column;
    }

  }

  .details-left {
    flex: 1;

    @media(max-width: $cs-break) {
      order: 2;
    }
  }

  .details-left-item {
    display: flex;
    padding: 16px 0;
    align-items: baseline;
    cursor: pointer;

    &:hover  {
      .details-left-title,
      .details-left-description {
        color: white;
      }
    }

    &.active  {
      .details-left-title,
      .details-left-description {
        color: white;
      }
    }
  }

  .details-left-title {
    min-width: 120px;
    font-family: Lato-Bold;
    font-size: 20px;
    color: #c4c4c4;
    letter-spacing: 0;
    padding-left: 12px;

    &.active {
      border-left: 3px solid #F2D03A;
      padding-left: 9px;
    }
  }

  .details-left-description {
    color: #c4c4c4;
    font-family: Lato-Bold;
    font-size: 18px;
    letter-spacing: 0;
    // line-height: 30px;
  }

  .details-right {
    flex: 1.5;
    padding-left: 32px;

    @media(max-width: $cs-break) {
      padding: 0;
      margin-top: -128px;
      margin: -96px 0 32px;
      flex-direction: column;
    }
  }
  .details-right-screenshot {
    border: 4px solid white;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  }
}

// Component: ./navigation.js styles
.CaseStudies-Navigation {
  width: 100%;
  background: $bg-color;
  border-top: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  top: 60px;

  &.nav-fixed {
    position: fixed;
    z-index: 1;
    top: 60px;
    @media(max-width: 1260px) {
      top: 50px;
    }
  }

  .nav-item-border {
    border-left: 1px solid white;
    border-right: 1px solid white;
    &:first-child {border-left: none;}
    &:last-child {border-right: none;}
    &.active {background: white;}
  }

  .nav-item {
    width: 200px;
    height: 72px;
    padding: 16px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
