$bg-color: #f2f3f5;

// Styles for the parent component : index.js
.CaseStudiesPage {
  .case-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 265px;
    background-color: $bg-color;
  }

  .case-heading {
    margin-bottom: 32px;
  }

  .case-hero-content {
    max-width: 900px;
    text-align: center;
    padding: 24px;
  }
}

// Component: case-study.js styles
.Case-Study {
  margin-top: 64px;

  .top-segment {
    margin-bottom: 64px;
  }

  .title {
    margin-bottom: 24px;
  }

  .client-list-item {
    list-style-type: disc;
    margin-left: 24px;
  }

  .client-logo {
    padding: 8px;
    margin-bottom: 16px;
    max-width: 240px;
  }
  .bg-curve {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 96px;
  }

  .details {
    display: flex;
    align-items: center;
  }

  .details-left {
    flex: 1;
  }

  .details-left-item {
    display: flex;
    padding: 16px 0;
    align-items: baseline;

    &:hover {
      .details-left-title,
      .details-left-description {
        color: white;
      }
    }
  }

  .details-left-title {
    min-width: 120px;
    font-family: Lato-Bold;
    font-size: 20px;
    color: #c4c4c4;
    letter-spacing: 0;
  }

  .details-left-description {
    color: #c4c4c4;
    font-family: Lato-Bold;
    font-size: 18px;
    letter-spacing: 0;
    // line-height: 30px;
  }

  .details-right {
    flex: 1.5;
    padding-left: 32px;
  }
  .details-right-screenshot {
    border: 4px solid white;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  }
}

// Component: ./navigation.js styles
.CaseStudies-Navigation {
  width: 100%;
  background: $bg-color;
  border-top: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;

  // position: fixed;
  // z-index: 1;
  // top: 60px;


  .nav-item-border {
    border-left: 2px solid white;
    &:last-child {
      border-right: 2px solid white;
    }
    &.active {
      background: white;
    }
  }

  .nav-item {
    width: 200px;
    height: 72px;
    padding: 16px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
