@import "../../../styles/variables";

.Ego {
  .bg-curve-grey {
    background-image: url("./assets/bg_grey_curved.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    @media (max-width: 1470px) {
      background-position: bottom;
    }
  }

  .target-feature-container {
    padding-top: 64px;
    @include breakpoint(desktop-below) {
      padding-top: 0;
    }
    
  }

  .ProductTarget {
    padding: 0 16px ;
  }
}
